# Hadoop output
hadoop_outputs/
output/
output/*
/output/

# System files
.DS_Store

# Python
__pycache__/
*.pyc
.env

# Large datasets (optional)
project-data/*.csv

# Hadoop temp
*.log

node_modules/
dist/
.env